/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.title {
  font-size: 1.7em;
  font-weight: bold;
  margin-top:5px;
  text-align: center;
  font-variant:small-caps;
}


#map {
	position:absolute;
	top:50px;
	left:0px;
	right:0px;
	bottom:40px;
}

.header
{
	font-size: 90%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 3px solid #4DADDE;
	background: #333;
	z-index: 5;
	min-height: 35px;
	padding: 10px;
}


.footer
{
	font-size: 90%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 2px solid #4DADDE;
	background: #333;
	z-index: 5;
	min-height: 15px;
}

#textbox
{
	text-align:center;
	font-variant:small-caps;
	color: #4DADDE;
	min-height: 15px;
	top:-5px;
	padding-right:10px;
	padding-left:50%;
	padding-bottom:10px;
	float:left;
}

.button
{
	text-align:center;
	font-variant:small-caps;
	color: #4DADDE;
	min-height: 15px;
	border:0px;
	padding-left:20px;
	padding-bottom:12px;
	background: #333;
}

.button_list{
	
}

	
}
.button:hover
{
	color:#fff;
}

.searchField{
	margin-top: 15px;
}

.searchButton {
	margin-left: 5px;
	margin-top: 5px;
  	display: block;
  	font-size: 16pt;
}

.gminologo{
	
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
