/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

td {
	color: #4DADDE;
}

#map {
	position:absolute;
	top:55px;
	left:0px;
	right:0px;
	bottom:40px;
}

#bar_top
{
	font-size: 90%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 3px solid #4DADDE;
	background: #000;
	z-index: 5;
	min-height: 35px;
	padding: 10px;
}


#bar_bottom
{
	font-size: 90%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 2px solid #4DADDE;
	background: #000;
	padding-bottom: 3px;
	z-index: 5;
	min-height: 15px;
}

#textbox
{
	text-align:center;
	font-variant:small-caps;
	color: #4DADDE;
	min-height: 15px;
	top:-5px;
	padding-right:10px;
	padding-left:50%;
	padding-bottom:10px;
	float:left;
}

.button
{
	text-align:center;
	font-variant:small-caps;
	color: #4DADDE;
	min-height: 15px;
	padding-right:25px;
	padding-left:15px;
	padding-bottom:10px;
	float:left;
	background: #333;
}

#icon
{
	position:relative;
	top:10px;
	
}
.button:hover
{
	color:#fff;
}

.searchButton {
	padding-left: 5px;
  	display: block;
  	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
