/** Add css rules here for your application. */

body {
			background: rgba(20, 20, 20, 0.8);
	
}

/** Example rules used by the template application (remove for your app) */
.title {
  font-size: 1.7em;
  font-weight: bold;
  margin-top:5px;
  text-align: center;
  font-variant:small-caps;
}


#left {
	position:absolute;
	top:10px;
	left:10px;
	right: 51%;
	width: 575px;
	
}



#right{
			position: absolute;
			top: 10px;
			left: 595px;
			right: 10px;

}

