bin/
gen/
cpy/
mevagen/
*.*~
*.class
android-reiseapp/
facebook-android-sdk/
.metadata/
*.war
meva.dot
HelpPatientenruf/
JMapViewer/
JOSM/
android-fahrzeugapp/
android-platformtest/
checkinDesktop/
desktop-GpsSimulator/
desktop-JxMapViewer/
desktop-dbtest/
gminocode.png
gpstracer/
java-buildtool/
java-platform/
java-tilecache/
mapsforge-read-only/
server-imageimport/
server-wikicache/
sqldroid/
transit-map/
*.cache.html
checkin.module/gwt/war/WEB-INF/lib/*.jar
gwt-unitCache/
classes/
deploy/
*.nocache.js
*/gwt/war/WEB-INF/lib/*.jar
*.core.prefs
.classpath
**/.classpath
/build
/classes
*.jar
*.class
*~
*/web-app/gwt
*/web-app/WEB-INF/classes
target
-gwt
gwt-unitCache
www-test
.apt_generated
.settings/com.google.gdt.eclipse.core.prefs
.settings/com.google.appengine.eclipse.core.prefs
build
private
*.gwt-log
