<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

      <context-param>
      <param-name>sqlConnectionUrl</param-name>
      <param-value>jdbc:google:rdbms://gmino-de-cloud-sql:gmino-socialgis-sql/gminosocialmap?useUnicode=yes&amp;characterEncoding=UTF-8</param-value>
   </context-param>   
    
 <context-param>
      <param-name>entityFactoryClass</param-name>
      <param-value>de.gmino.issuemap.server.EntityFactoryImpl</param-value>
    </context-param>
    
  <!-- Servlets -->
  <servlet>
    <servlet-name>JsonServer</servlet-name>
    <servlet-class>de.gmino.meva.server.JsonServer</servlet-class>
  </servlet>  
  
  <servlet-mapping>
    <servlet-name>JsonServer</servlet-name>
    <url-pattern>/Json/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>de.gmino.issuemap.server.UploadServlet</servlet-class>
  </servlet>  
  
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/Upload/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CsvExportServlet</servlet-name>
    <servlet-class>de.gmino.issuemap.server.CsvExportServlet</servlet-class>
  </servlet>  
  
  <servlet-mapping>
    <servlet-name>CsvExportServlet</servlet-name>
    <url-pattern>/CsvExport</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>IssuemapGwt.html</welcome-file>
  </welcome-file-list> 

</web-app>
