<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GminoCheckin.html</welcome-file>
  </welcome-file-list>

  
  <!-- Servlets -->
  <servlet>
    <servlet-name>JsonServer</servlet-name>
    <servlet-class>de.gmino.checkin.server.JsonServer</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>JsonServer</servlet-name>
    <url-pattern>/QueryNearbyShops</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletGetEntities</servlet-name>
    <servlet-class>de.gmino.checkin.server.ServletGetEntities</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ServletGetEntities</servlet-name>
    <url-pattern>/getentities</url-pattern>
  </servlet-mapping>
</web-app>
